* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 70px;
    background-color: lightblue;
    color: white;
}

h3 {
    margin-bottom: 20px;
}

.container {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.todo-list ul {
    width: 50%;
    margin: 20px auto;
    text-align: left;
    list-style: none;
}

.todo-list ul li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.doneClass {
    text-decoration: line-through;
}

.todo-list ul li i {
    float: right;
   
}

.todo-list ul li:hover {
    cursor: pointer;
    background-color: lightcyan;
}






