* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 70px;
    background-color: aqua;
}

.container {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ul {
    width: 50%;
    margin: 20px auto;
    text-align: left;
}

