* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 70px;
    background-color: aqua;
}

.container {
    width: 80%;
    text-align: center;
    margin: auto;
}

